body{
  padding: 0;
  margin: 0;
}
*{
  margin: 0;
  padding: 0;
  background-color: black;
}
.wrapper{
  margin: 0 auto;
}

.clock{
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  
  height: 180px;
  width: 370px;
  color: #06f1f6;
  text-shadow: 2px 2px 8px;
  border-radius: 15px;
  border: 2px solid silver;
  box-shadow: 0 0 5px 10px;
}

.clock section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.clock section p{
  font-size: 3rem;
}

.timer-container{
  padding-top: 10px;
  padding-bottom: 10px;
}

